name: NodeJS with vite
permissions:
    contents: write
    pages: write
    id-token: write

on:
    push:
        branches: ['main']
        exclude: "*.md"

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Use Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 24.x

            - name: Build
              run: |
                  npm ci
                  npm run build

            - name: Setup Pages
              uses: actions/configure-pages@v5
            - name: Upload artifact
              uses: actions/upload-pages-artifact@v3
              with:
                  # Upload dist
                  path: './dist'
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4